<h1>Редактировать: {{vape.title}}</h1>

<form action="/vapes/edit/{{vape.id}}" method="POST">
  <div class="input-field">
    <input id="title-vape" type="text" class="validate" name="title" value="{{vape.title}}" required>
    <label for="title-vape">Название товара</label>
    <span class="helper-text" data-error="Введите название товара"></span>
  </div>
  <div class="input-field">
    <textarea id="description-vape" class="materialize-textarea" name="description" required>{{vape.description}}</textarea>
    <label for="description-vape">Описание товара (html)</label>
    <span class="helper-text" data-error="Введите описание товара"></span>
  </div>
  <div class="input-field">
    <input id="price-vape" type="number" class="validate" name="price" value="{{vape.price}}" required>
    <label for="price-vape">Цена</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>
  <div class="input-field">
    <input id="image-vape" type="text" class="validate" name="image" value="{{vape.image}}" required>
    <label for="image-vape">URL Картинки</label>
    <span class="helper-text" data-error="Введите URL картинки"></span>
  </div>
  <button class="btn btn-primary">Сохранить</button>
</form>