<div class="row product">
  <div class="col s4">
    <div class="product-photo">
      <img src="{{vape.image}}" alt="{{vape.title}}" />
    </div>
  </div>

  <div class="col s8">
    <div class="product-description">
      <h1 class="title">{{vape.title}}</h1>
      <p class="text">{{vape.description}}</p>
      <p class="price">{{vape.price}}</p>
    </div>
  </div>
</div>